<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppStoreFileSize</key>
	<integer>885559</integer>
	<key>AppStoreFileSizeValid</key>
	<true/>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/Powerball Picker.app</string>
		<key>CFBundleIdentifier</key>
		<string>Jon-Slaughter.Powerball-Picker</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>1.0</string>
		<key>IconPaths</key>
		<array>
			<string>Applications/Powerball Picker.app/Icon-Small@2x.png</string>
			<string>Applications/Powerball Picker.app/Icon-Small.png</string>
			<string>Applications/Powerball Picker.app/Icon-60@2x.png</string>
			<string>Applications/Powerball Picker.app/Icon-60.png</string>
			<string>Applications/Powerball Picker.app/Icon-76@2x.png</string>
			<string>Applications/Powerball Picker.app/Icon-76.png</string>
		</array>
		<key>SigningIdentity</key>
		<string>iPhone Developer: Jon Slaughter (6KWDHEFP7S)</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2013-11-16T06:56:17Z</date>
	<key>Name</key>
	<string>Powerball Winner</string>
	<key>SchemeName</key>
	<string>Powerball Winner</string>
</dict>
</plist>
